@import "tailwindcss";
@import url("https://fonts.googleapis.com");


@custom-variant dark (&:where(.dark, .dark *));

@theme {
 --font-brand: "My Custom Font", sans-serif;
 --font-code: "JetBrains Mono", monospace;
 --font-display: "Playfair Display", serif;
 --font-sans: "Inter", ui-sans-serif, system-ui;
 --font-heading: "Montserrat", ui-sans-serif, system-ui;
 --font-work: "Work Sans", sans-serif;
 --color-selected: #f4581d;
}
:root {
  --slide-bg: #2D2F36;
  --slide-font: #EAEAEA;
  --slide-heading: #C084FC;
}

.dark {
  --slide-bg: #121318;
  --slide-font: #F5F5F5;
  --slide-heading: #A855F7;
}


@layer utilities {
 .grCenter {
  @apply grid place-items-center;
 }
 .flexCenter {
  @apply flex items-center justify-center;
 }
}

 @layer base {
  .bg-conic-metal {
   background: conic-gradient(
    from 30deg,
    #a8a8a8 0%,
    /* deep black */ #6d6a6a 15%,
    /* dark grey */ #c0c0c0 40%,
    /* silver */ #e5e5e5 60%,
    /* bright silver */ #a8a8a8 80%,
    /* medium silver */ #858383 100% /* back to black */
   );
  }
}
.theme_toggle{
     @apply relative before:content-["☼"] before:text-black before:text-sm dark:before:content-["☾"] dark:before:text-white before:absolute before:inset-0 before:bg-white dark:before:bg-black before:w-1/2 before:h-full before:rounded-full rounded-full dark:before:translate-x-full before:grid before:place-items-center before:transition-all before:duration-700
}