/* Style the overall scrollbar */
#scroller::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

/* Style the scrollbar track */
#scroller::-webkit-scrollbar-track {
  background: #5f2b00;
  border-radius: 10px;
}

/* Style the scrollbar thumb */
#scroller::-webkit-scrollbar-thumb {
  background: #ac5c00;
  border-radius: 10px;
}

/* Style the scrollbar thumb on hover */
#scroller::-webkit-scrollbar-thumb:hover {
  background: #b96f00;
}
#ingredientUl::-webkit-scrollbar{
  display: none;
}
.scrollbar-hide::-webkit-scrollbar{
  display: none;
}
body {
  font-family: system-ui, sans-serif;
  background: linear-gradient(135deg, #f3f4f6, #e5e7eb);
}
.skeleton {
  position: relative;
  overflow: hidden;
  background: #e5e7eb;
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.5),
    transparent
  );
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

